@{
    ViewData["Title"] = "Add worker";
}
<div class="small-pannel">
    <h2>Add worker</h2>
    @using (Html.BeginForm("AddWorker", "Worker", FormMethod.Post))
    {
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" required>
        </div>
        <div class="form-group">
            <label class="form-check-label" for="age">Age</label>
            <input type="number" class="form-control" id="age" name="age" required>
        </div>
        <button type="submit" class="btn btn-success">Add worker</button>
    }
</div>